body {
    color: aliceblue;
    background-image: url(images/bg-curvy-desktop.svg);
    background-color: rgb(26, 35, 47);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    max-height: 50px;
    width: 100%;
}
.main-header_img {
    width: 100px;
}
.main-header_img img {
    height: 100%;
    width: 100%;
}
.main-nav_items {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.main-nav_item {
    display: inline;
    padding: 25px;
}
.main-nav_item a {
    color: whitesmoke;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}
.main-nav_item a:hover,
.main-nav_item a:active {
    font-weight: 700;
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px;
    padding: 25px 5%;
    width: 100%
}
.intro-img {
    max-height: 500px;
    max-width: 650px;
    margin: 5px;
    padding: 10px;
}
.intro-img img {
    width: 100%;
    height: 100%;
}
.intro-h1 {
    font-size: 30px;
    font-weight: 700;
    max-width: 650px;
    text-align: center;
    margin: 5px;
}
.intro-p {
    font-size: 20px;
    font-weight: 400;
    max-width: 600px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.button a {
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 275px;
    border-radius: 50px;
    padding: 13px;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(69, 225, 242, 0.841);
}
.button a:hover,
input[type=submit]:hover {
    background-color: rgb(120, 221, 236);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    max-width: 1100px;
    margin: 50px 15%;
    margin-top: 5%;
    padding-top: 20px;
}
.flex-container_item {
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
}
.flex-container_item img {
    margin: 10px;
    padding: 5px;
}
.flex-container_item h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    padding: 5px;
}
.flex-container_item p {
    font-size: 15px;
    font-weight: 400;
}

.stay-prod {
    max-width: 1200px;
    height: max-content;
    margin: 0px auto;
    align-items: flex-start;
}
.stay-prod-img {
    max-width: 700px;
    height: 400px;
}
.stay-prod-img>img {
    width: 100%;
    height: 100%;
}
.stay-prod_text {
    text-align: justify;
    max-width: 500px;
    margin: 70px 70px 0px 0px;
    padding: 0px;
}
.stay-prod h1 {
    text-align: left;
    max-width: 350px;
    margin: 6px;
    padding: 10px;
    font-size: 35px;
    font-weight: 700;
    height: auto;
}
.stay-prod p {
    margin: 6px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
}
.stay-prod a {
    display: inline-block;
    text-decoration: none;
    color: rgb(80, 175, 173);
    padding: 6px 0;
    margin: 6px 16px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px solid rgb(80, 175, 173);
}
.stay-prod a:hover {
    color: aliceblue;
    border-bottom-color: aliceblue;
    filter: grayscale(1);
}
.stay-prod_text img {
    margin: 2px 0 2px 2px;
    padding-left: 4px;
}

.quotes {
    position: relative;
    margin: 80px auto;
    padding: 28px 0px;
    max-width: 1100px;
    height: 300px;
}
.quotes-img {
    position: absolute;
    top: 0;
    left: 0.5%;
    max-width: 45px;
    height: 35px;
}
.quotes-img img {
    width: 100%;
    height: 100%;
}
.comments {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: max-content;
}
.comment {
    background-color: rgb(35, 45, 59);
    margin: 0px 10px;
    padding: 30px 15px 15px 15px;
    width: 340px;
    min-height: 140px;
    height: auto;
}
.comment>p {
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
}
.flex {
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 8px;
    padding-left: 0px;
}
.flex img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.flex-img {
    width: 20px;
    margin-top: 5px;
    align-self: center;
}
.flex-com {
    height: 20px;
    margin: 5px 0px 0px 8px;
    padding-top: 2px;
}
.flex-com h4 {
    margin-bottom: 2px;
    font-size: 8px;
    font-weight: 700;
}
.flex-com p {
    margin-bottom: 0px;
    font-size: 6px;
    font-weight: 400;
}

.footer {
    position: relative;
    background-color: rgba(6, 19, 36, 0.869);
    height: 450px;
    margin-top: 150px;
    padding-top: 110px;
}
.newsletter {
    position: absolute;
    top: -110px;
    left: 15%;
    right: 15%;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 2px rgb(14, 22, 31);
    background-color: rgb(25, 36, 49);
    display: block;
    margin: 0 auto;
    max-width: 900px;
    height: 220px;
}
.newsletter h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0px 7px;
    padding: 20px 0px;
}
.newsletter p {
    font-size: 13px;
    font-weight: 500;
    width: 80%;
    margin: auto auto 20px auto;
    text-align: center;
}
.form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}
input[type=text], 
input[type=text]:active {
    color: rgb(25, 36, 49);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    width: 400px;
    height: 40px;
    font-weight: 400;
    margin-right: 15px;
    padding-left: 40px;
    outline: none;
}
input[type=submit], 
input[type=submit]:active {
    border: none;
    outline: none;
    border-radius: 30px;
    color: aliceblue;
    background-color: rgba(69, 225, 242, 0.841);
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    width: 200px;
    height: 40px;
}
.feedback {
    padding-left: 40px;
    font-size: 10px;
    color: red;
}
.footer-main {
    margin: 0px 40px;
    padding: 0px 40px;
}
.footer-img {
    margin: 40px 30px 10px 30px;
    padding-top: 20px;
    height: 60px;
}
.footer-img img {
    height: 100%;
}
.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 15px 25px;
    width: 100%;
}
.footer1 {
    display: flex;
}
.footer1 img {
    height: 16px;
    width: 12px;
    margin: 6px 20px 0px 0px;
}
.footer2-item {
    margin: 15px 0px;
}
.footer2-item img {
    margin-right: 23px;
}
.footer2-items,
.footer3-items {
    list-style: none;
}
.footer3-item {
    display: inline-block;
    padding: 2px;
}
.footer-contact a {
    text-decoration: none;
    color: aliceblue;
}
.footer-contact a:hover {
    font-size: 16px;
    font-weight: 700;
}
.footer3-item a {
    font-size: 18px;
}
.footer3-item a:hover {
    font-size: 18px;
    color: rgb(20, 189, 133);
}

/* For Mobile */
@media only screen and (max-width: 650px) {
    body {
        background-image: url(images/bg-curvy-mobile.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-header {
        padding: 0px 0px 0px 10px;
        margin: 15px 0px;
    }
    .main-header_img {
        width: 80px;
    }
    .main-nav_item {
        padding: 12px;
        height: auto;
    }
    .main-nav_item a {
        font-size: 11px;
    }
    .intro {
        margin: 45px 0px;
    }
    .intro-h1 {
        font-size: 17px;
        font-weight: 700;
        min-width: 352px;
        max-width: 496px;
    }
    .intro-p {
        font-size: 14px;
        font-weight: 400;
        max-width: 500px;
    }
    .button a {
        width: 250px;
    }

    .flex-container {
        margin-top: 0;
        padding-top: 0;
    }
    .flex-container_item {
        padding:0;
        margin: 20px auto;
        min-width: 360px;
    }
    .flex-container_item h2 {
        font-size: 17px;
        font-weight: 700;
    }
    .flex-container_item p {
        font-size: 13px;
        font-weight: 400;
    }
    .flex-container_item img {
        height: 30px;
    }

    .stay-prod-img {
        align-self: center;
        width: auto;
        height: auto;
        margin: 0px 6%;
    }
    .stay-prod_text {
        margin: 40px 25px;
    }
    .stay-prod h1 {
        margin: 0;
        padding: 10px 0;
        font-size: 17px;
        font-weight: 700;
    }
    .stay-prod p {
        margin: 0;
        padding: 10px 0;
        font-size: 13px;
        font-weight: 400;
    }
    .stay-prod a {
        padding-bottom: 3px;
        margin: 6px 0;
        font-size: 13px;
    }

    .quotes {
        display: flex;
        height: auto;
        width: fit-content;
        padding: 28px 6%;
        margin: 80px auto;
    }
    .quotes-img {
        left: 16%;
    }
    .comments {
        flex-flow: column nowrap;
        align-items: center;
        height: auto;
        width: fit-content;
        margin: 0px auto;
    }
    .comment {
        margin-bottom: 10px;
        width: 80%
    }

    .newsletter {
        position: absolute;
        top: -175px;
        left: 0;
        right: 0;
        margin: 0px auto;
        padding: 4% 0;
        max-width: 90%;
        height: 350px;
    }
    .form {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    input[type=text],
    input[type=submit] {
        width: 97%;
        margin: 10px 0px;
    }

    .footer {
        height: auto;
        width: 100%;
        margin: 300px 0px 0px 0px;
        padding-top: 0;
        display: flex;
        flex-flow: column nowrap;
    }
    .footer-main {
        margin: 170px 0px 20px 0px;
        padding: 50px 0;
    }
    .footer-main {
        margin-bottom: 50px;
    }
    .footer-img {
        height: 80px;
    }
    .footer-contact {
        flex-flow: column nowrap;
        width: auto
    }
    .footer2-items {
        padding: 5px 0px;
    }
    .footer3 {
        align-self: center;
    }
    .footer3-items {
        margin: 5px;
        padding: 10px 0px;
    }

    .attribution {
        left: 10%;
        right: 10%;
        margin: 30px 0;
    }
}